@keyframes bounceIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-30px);
    opacity: 1;
  }
  70% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
.section_about {
  padding-top: 125px;
  overflow: hidden;
}
@media screen and (max-width: 1028px) {
  .section_about {
    padding-top: 70px;
  }
}
@media screen and (max-width: 480px) {
  .section_about {
    padding-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper svg {
    width: 200px;
    height: 50px;
  }
}
.section_about-wrapper--content {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 137px;
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content {
    gap: 80px;
  }
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content {
    gap: 70px;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content {
    padding-top: 40px;
    gap: 50px;
  }
}
.section_about-wrapper--content_text {
  font-size: 36px;
  line-height: 110%;
  text-transform: uppercase;
  width: 60%;
}
@media screen and (max-width: 1280px) {
  .section_about-wrapper--content_text {
    font-size: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content_text {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_text {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_text {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_text {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}
.section_about-wrapper--content_text-desc {
  width: 68%;
  margin-top: 70px;
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_text-desc {
    margin-top: 30px;
    width: 98%;
    margin: 0 auto;
  }
}
.section_about-wrapper--content_text-desc span {
  color: #9DB8D8;
}
.section_about-wrapper--content_statics {
  display: flex;
  gap: 115px;
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content_statics {
    gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_statics {
    flex-direction: column;
    gap: 80px;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_statics {
    gap: 50px;
  }
}
.section_about-wrapper--content_statics-left {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content_statics-left {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_statics-left {
    width: 98%;
  }
}
.section_about-wrapper--content_statics-left .text {
  font-size: 20px;
}
@media screen and (max-width: 1280px) {
  .section_about-wrapper--content_statics-left .text {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_statics-left .text {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_statics-left .text {
    font-size: 14px;
  }
}
.section_about-wrapper--content_statics-right {
  display: flex;
  gap: 132px;
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content_statics-right {
    gap: 70px;
  }
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_statics-right {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_statics-right {
    gap: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content_statics-right .right,
  .section_about-wrapper--content_statics-right .left {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_statics-right .right,
  .section_about-wrapper--content_statics-right .left {
    width: 20%;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_statics-right .right,
  .section_about-wrapper--content_statics-right .left {
    width: 100%;
  }
}
.section_about-wrapper--content_statics-right .right .title,
.section_about-wrapper--content_statics-right .left .title {
  font-size: 64px;
  color: #9DB8D8;
  line-height: 50px;
  margin-bottom: 8px;
}
@media screen and (max-width: 1280px) {
  .section_about-wrapper--content_statics-right .right .title,
  .section_about-wrapper--content_statics-right .left .title {
    font-size: 55px;
  }
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content_statics-right .right .title,
  .section_about-wrapper--content_statics-right .left .title {
    font-size: 45px;
  }
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_statics-right .right .title,
  .section_about-wrapper--content_statics-right .left .title {
    font-size: 45px;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_statics-right .right .title,
  .section_about-wrapper--content_statics-right .left .title {
    font-size: 40px;
  }
}
.section_about-wrapper--content_statics-right .right .subtitle,
.section_about-wrapper--content_statics-right .left .subtitle {
  color: #2E3140;
  font-size: 16px;
  line-height: 150%;
}
@media screen and (max-width: 1280px) {
  .section_about-wrapper--content_statics-right .right .subtitle,
  .section_about-wrapper--content_statics-right .left .subtitle {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_statics-right .right .subtitle,
  .section_about-wrapper--content_statics-right .left .subtitle {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_statics-right .right .subtitle,
  .section_about-wrapper--content_statics-right .left .subtitle {
    font-size: 13px;
  }
}
.section_about-wrapper--content_statics-right .right {
  width: 29%;
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content_statics-right .right {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_statics-right .right {
    width: 20%;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_statics-right .right {
    width: 100%;
  }
}
.section_about-wrapper--content_statics-right .right .subtitle {
  width: 80%;
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content_statics-right .right .subtitle {
    width: 100%;
  }
}
.section_about-wrapper--content_statics-right .left .subtitle {
  width: 52%;
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content_statics-right .left .subtitle {
    width: 100%;
  }
}
.section_about-wrapper--content_tape {
  background: #2E3140;
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 105px;
  z-index: 2;
}
.section_about-wrapper--content_tape.second {
  background: #D3FA6D;
}
.section_about-wrapper--content_tape.third {
  background: #D3FA6D;
  margin-top: 0px;
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content_tape {
    height: 220px;
  }
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_tape {
    height: 150px;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_tape {
    height: 70px;
    margin-top: 50px;
  }
}
.section_about-wrapper--content_tape-content {
  margin: 0 auto;
  display: flex;
  width: 90%;
}
.section_about-wrapper--content_tape-content.second {
  flex-direction: row-reverse;
}
.section_about-wrapper--content_tape-content.fourth {
  flex-direction: row-reverse;
}
.section_about-wrapper--content_tape-content--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.section_about-wrapper--content_tape-content--text.second {
  align-items: center;
}
.section_about-wrapper--content_tape-content--text.second .title {
  color: #2E3140;
  font-size: 48px;
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content_tape-content--text.second .title {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_tape-content--text.second .title {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_tape-content--text.second .title {
    font-size: 16px;
  }
}
.section_about-wrapper--content_tape-content--text .title {
  color: #fff;
  font-size: 40px;
  width: 65%;
}
@media screen and (max-width: 1280px) {
  .section_about-wrapper--content_tape-content--text .title {
    font-size: 35px;
  }
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content_tape-content--text .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_tape-content--text .title {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_tape-content--text .title {
    font-size: 16px;
    width: 100%;
  }
}
.section_about-wrapper--content_tape-content--text .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding: 20px;
  background: var(--Blue, #9DB8D8);
  transform: rotate(-2.583deg) translateY(15px);
}
.section_about-wrapper--content_tape-content--text .btn.fourth {
  bottom: 90%;
}
.section_about-wrapper--content_tape-content--text .btn.fourth p {
  text-transform: capitalize;
}
@media screen and (max-width: 1280px) {
  .section_about-wrapper--content_tape-content--text .btn {
    padding: 15px;
  }
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_tape-content--text .btn {
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_tape-content--text .btn {
    height: 30%;
  }
}
.section_about-wrapper--content_tape-content--text .btn p {
  color: #F4F4F4;
  font-size: 48px;
  line-height: 41.115px;
  text-transform: uppercase;
}
@media screen and (max-width: 1280px) {
  .section_about-wrapper--content_tape-content--text .btn p {
    font-size: 38px;
  }
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content_tape-content--text .btn p {
    font-size: 33px;
  }
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_tape-content--text .btn p {
    font-size: 27px;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_tape-content--text .btn p {
    font-size: 18px;
  }
}
.section_about-wrapper--content_tape-content--image {
  position: relative;
  width: 100%;
}
.section_about-wrapper--content_tape-content--image.third {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_tape-content--image {
    left: 0;
  }
}
.section_about-wrapper--content_tape-content--image_wrapper {
  position: absolute;
  bottom: -1.5%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_tape-content--image_wrapper.third img {
    height: 200px;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_tape-content--image_wrapper.third img {
    height: 95px;
  }
}
.section_about-wrapper--content_tape-content--image_wrapper img {
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content_tape-content--image_wrapper img {
    height: auto;
  }
}
.section_about-wrapper--content_tape-content--image_wrapper img.animate {
  animation: bounceIn 2s ease forwards;
  opacity: 1;
}

/*# sourceMappingURL=about.module.css.map */
