.section_design {
  padding-top: 132px;
}
.section_design-wrapper--content_top {
  max-width: calc(1440px - 2%);
  margin: 0 auto;
}
.section_design-wrapper--content_top-items {
  display: flex;
  flex-direction: column;
  gap: 91px;
}
.section_design-wrapper--content_top-items--item {
  display: flex;
}
.section_design-wrapper--content_top-items--item .text-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  color: #2E3140;
}
.section_design-wrapper--content_top-items--item .text-card--title, .section_design-wrapper--content_top-items--item .text-card--desc {
  font-size: 20px;
  line-height: 130%;
}
.section_design-wrapper--content_top-items--item .text-card--title {
  font-size: 36px;
  line-height: 110%;
  text-transform: uppercase;
}
.section_design-wrapper--content_top-items--item .text-card--title.second {
  height: 117px;
}
@media (max-width: 768px) {
  .section_design-wrapper--content_top-items--item .text-card--title {
    font-size: 26px;
  }
}
.section_design-wrapper--content_top-items--item .text-card--desc {
  width: 60%;
}
@media (max-width: 768px) {
  .section_design-wrapper--content_top-items--item .text-card--desc {
    font-size: 15px;
    max-height: 200px;
  }
}
@media (max-width: 480px) {
  .section_design-wrapper--content_top-items--item .text-card--desc {
    font-size: 14px;
  }
}
.section_design-wrapper--content_top-items--item .text-card--desc span {
  color: #9DB8D8;
}
.section_design-wrapper--content_top-items--item .text-card--labels {
  display: flex;
  justify-content: center;
}
.section_design-wrapper--content_swipers-top {
  display: flex;
  width: 77%;
  margin-left: auto;
}
.section_design-wrapper--content_swipers-top .text {
  display: flex;
  align-items: flex-end;
  width: 67%;
  margin-right: 40px;
}
.section_design-wrapper--content_swipers-top .text .desc {
  font-size: 20px;
}
.section_design-wrapper--content_swipers .card {
  height: 350px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
}
.section_design-wrapper--content_swipers .card-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 22px 6px 24px 23px;
  background: var(--Near-White, #F9F9F9);
  box-shadow: 0 29px 34px -20px rgba(0, 0, 0, 0.1215686275);
  border-radius: 8px;
  transition: transform 0.3s linear, filter 0.3s linear;
}
.section_design-wrapper--content_swipers .card-content--title {
  width: 130px;
}
.section_design-wrapper--content_swipers .card-content--title .title {
  color: var(--Gunmetal, #2E3140);
  font-size: 24px;
}
.section_design-wrapper--content_swipers .card-content--text {
  display: flex;
  align-items: flex-end;
}
.section_design-wrapper--content_swipers .card-image {
  position: absolute;
  width: 90%;
  bottom: 100px;
  left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 300px;
}
.section_design-wrapper--content_swipers .card-image--content {
  position: relative;
}
.section_design-wrapper--content_swipers .card-image--content_on {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: transform 0.3s linear, filter 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(10px);
}
.section_design-wrapper--content_swipers .card-image--content_on img {
  object-fit: contain;
  width: 300px;
  height: 300px;
}
.section_design-wrapper--content_swipers .card-image--content img {
  object-fit: contain;
  width: 220px;
  height: 200px;
  display: block;
  transition: transform 0.3s linear, filter 0.3s linear;
}
.section_design-wrapper--content_swipers-bottom {
  width: 62%;
  margin-right: auto;
}
.section_design-wrapper--content_items {
  max-width: calc(1440px - 2%);
  margin: 0 auto;
}
.section_design-wrapper--content_items .title {
  font-size: 36px;
  text-transform: uppercase;
  line-height: 110%;
}
.section_design-wrapper--content_items .desc {
  font-size: 20px;
  line-height: 130%;
  height: 140px;
}
.section_design-wrapper--content_items-fonts {
  padding-top: 165px;
}
.section_design-wrapper--content_items-fonts .text-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}
.section_design-wrapper--content_items-fonts--font {
  display: flex;
  justify-content: space-between;
}
.section_design-wrapper--content_items-fonts--font .card-right {
  display: flex;
  flex-direction: column;
  gap: 49px;
}
.section_design-wrapper--content_items-fonts--font .card-right--top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section_design-wrapper--content_items-fonts--font .card-right--bottom {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.section_design-wrapper--content_items-fonts--font .card-left {
  display: flex;
  flex-direction: column;
  gap: 52px;
}
.section_design-wrapper--content_items-fonts--font .card-left--bottom {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.section_design-wrapper--content_items-fonts--font .card-left--bottom_size {
  padding-top: 20px;
}
.section_design-wrapper--content_items-colors {
  display: flex;
  justify-content: space-between;
  padding-top: 125px;
}
.section_design-wrapper--content_items-colors-left, .section_design-wrapper--content_items-colors-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.section_design-wrapper--content_items-colors-left .title, .section_design-wrapper--content_items-colors-right .title {
  font-size: 36px;
  text-transform: uppercase;
  line-height: 110%;
}
.section_design-wrapper--content_items-colors-left .buttons, .section_design-wrapper--content_items-colors-right .buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section_design-wrapper--content_items-icons {
  display: flex;
  flex-direction: column;
  gap: 36.25px;
}
.section_design-wrapper--content_items-icons--title .title {
  font-size: 36px;
  text-transform: uppercase;
  line-height: 110%;
}
.section_design-wrapper--content_items-icons--icon {
  display: flex;
  justify-content: space-between;
}

.card-image.no-overlay-image:hover .card-image--content img {
  transform: scale(1.2);
  filter: none;
}

.card-image:hover .card-image--content img {
  transform: scale(0.6);
  filter: blur(5px);
}

.card-image:hover .card-image--content_on {
  transform: scale(1);
  filter: blur(0);
}

/*# sourceMappingURL=design.module.css.map */
