.section_desktop {
  padding-top: 270px;
}
@media screen and (max-width: 1024px) {
  .section_desktop {
    padding-top: 120px;
  }
}
@media screen and (max-width: 768px) {
  .section_desktop {
    padding-top: 80px;
  }
}
@media screen and (max-width: 480px) {
  .section_desktop {
    padding-top: 50px;
  }
}
.section_desktop-wrapper {
  position: relative;
}
.section_desktop-wrapper--content {
  max-width: calc(1440px - 2%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 115vh;
  padding: 0px 50px;
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content {
    height: 105vh;
  }
}
@media screen and (max-width: 480px) {
  .section_desktop-wrapper--content {
    height: 115vh;
  }
}
.section_desktop-wrapper--content_top {
  display: flex;
  justify-content: flex-end;
}
.section_desktop-wrapper--content_top-title {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 455px;
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_top-title {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .section_desktop-wrapper--content_top-title {
    width: 300px;
  }
}
.section_desktop-wrapper--content_bottom {
  width: 455px;
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_bottom {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .section_desktop-wrapper--content_bottom {
    width: 300px;
  }
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
.section_desktop-wrapper--firstPhoto {
  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--firstPhoto {
    top: 20%;
  }
}
@media screen and (max-width: 1440px) {
  .section_desktop-wrapper--firstPhoto img {
    width: 672px;
  }
}
@media screen and (max-width: 1280px) {
  .section_desktop-wrapper--firstPhoto img {
    width: 600px;
  }
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--firstPhoto img {
    width: 406px;
  }
}
@media screen and (max-width: 768px) {
  .section_desktop-wrapper--firstPhoto img {
    width: 350px;
  }
}
@media screen and (max-width: 480px) {
  .section_desktop-wrapper--firstPhoto img {
    width: 300px;
  }
}
.section_desktop-wrapper--secondPhoto {
  position: absolute;
  bottom: 0%;
  right: 0;
}
@media screen and (max-width: 1440px) {
  .section_desktop-wrapper--secondPhoto img {
    width: 766px;
  }
}
@media screen and (max-width: 1280px) {
  .section_desktop-wrapper--secondPhoto img {
    width: 694px;
  }
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--secondPhoto img {
    width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .section_desktop-wrapper--secondPhoto img {
    width: 444px;
  }
}
@media screen and (max-width: 480px) {
  .section_desktop-wrapper--secondPhoto img {
    width: 300px;
  }
}

/*# sourceMappingURL=desktop.module.css.map */
