.section_desktop {
  padding-top: 270px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .section_desktop {
    padding-top: 120px;
  }
}
@media screen and (max-width: 768px) {
  .section_desktop {
    padding-top: 80px;
  }
}
@media screen and (max-width: 480px) {
  .section_desktop {
    padding-top: 50px;
  }
}
.section_desktop-wrapper {
  position: relative;
  z-index: 2;
}
.section_desktop-wrapper--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120vh;
}
@media screen and (min-width: 2560px) {
  .section_desktop-wrapper--content {
    height: 105vh;
  }
}
@media screen and (max-width: 1440px) {
  .section_desktop-wrapper--content {
    height: 110vh;
  }
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content {
    height: 105vh;
  }
}
@media screen and (max-width: 480px) {
  .section_desktop-wrapper--content {
    height: 120vh;
  }
}
.section_desktop-wrapper--content_top {
  display: flex;
  justify-content: flex-end;
}
.section_desktop-wrapper--content_top-title {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 455px;
}
.section_desktop-wrapper--content_bottom {
  width: 455px;
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_bottom {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .section_desktop-wrapper--content_bottom {
    width: 300px;
  }
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
.section_desktop-wrapper--firstPhoto {
  position: absolute;
  top: -5%;
  left: -10%;
  width: 55%;
}
@media screen and (min-width: 2560px) {
  .section_desktop-wrapper--firstPhoto {
    left: 5%;
    width: 45%;
  }
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--firstPhoto {
    top: 15%;
    width: 65%;
  }
}
@media screen and (max-width: 480px) {
  .section_desktop-wrapper--firstPhoto {
    left: 0;
    right: 0;
    top: 23%;
    width: 90%;
  }
}
.section_desktop-wrapper--firstPhoto img {
  width: 100%;
}
.section_desktop-wrapper--secondPhoto {
  position: absolute;
  bottom: 0%;
  right: -15%;
  width: 60%;
}
@media screen and (min-width: 2560px) {
  .section_desktop-wrapper--secondPhoto {
    right: 0;
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--secondPhoto {
    width: 70%;
    right: 0;
  }
}
@media screen and (max-width: 480px) {
  .section_desktop-wrapper--secondPhoto {
    width: 100%;
  }
}
.section_desktop-wrapper--secondPhoto img {
  width: 100%;
}
.section_desktop-firstBlur {
  top: 15%;
  right: 25%;
  width: 464px;
  height: 464px;
  opacity: 0.8;
  background: #E48049;
}
@media screen and (max-width: 1024px) {
  .section_desktop-firstBlur {
    width: 682px;
    height: 512px;
  }
}
@media screen and (max-width: 768px) {
  .section_desktop-firstBlur {
    width: 582px;
    height: 412px;
  }
}
@media screen and (max-width: 480px) {
  .section_desktop-firstBlur {
    width: 482px;
    height: 312px;
  }
}
.section_desktop-secondBlur {
  top: 50%;
  right: 0%;
  width: 973.708px;
  height: 916.063px;
  opacity: 0.5;
  background: #3A3ADF;
}
@media screen and (max-width: 1024px) {
  .section_desktop-secondBlur {
    width: 682px;
    height: 512px;
  }
}
@media screen and (max-width: 768px) {
  .section_desktop-secondBlur {
    width: 482px;
    height: 312px;
  }
}
@media screen and (max-width: 480px) {
  .section_desktop-secondBlur {
    width: 382px;
    height: 212px;
  }
}

/*# sourceMappingURL=desktop.module.css.map */
