.section_hero-wrapper {
  position: relative;
  height: 100%;
}
.section_hero-wrapper--background {
  height: 70vh;
  display: block;
  margin: 0 auto;
  background: url("../images/hero.png") no-repeat center center/cover;
  position: relative;
}
@media screen and (min-width: 2560px) {
  .section_hero-wrapper--background {
    height: 60vh;
  }
}
.section_hero-wrapper--background_line {
  height: 80px;
  width: 100%;
  background: #D3FA6D;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-1.5deg) translateY(40px);
}
@media screen and (max-width: 768px) {
  .section_hero-wrapper--background_line {
    height: 50px;
  }
}
@media screen and (max-width: 480px) {
  .section_hero-wrapper--background_line {
    display: none;
  }
}
.section_hero-wrapper--background_line-container {
  width: 100%;
  height: 100%;
  background-color: #D3FA6D;
}
.section_hero-wrapper--background_line-container .tape-hero {
  height: 100%;
}
.section_hero-wrapper--background_line .swiper-wrapper {
  display: flex;
  transition-timing-function: linear;
  align-items: center;
}
.section_hero-wrapper--background_line .swiper-wrapper .swiper-slide {
  width: fit-content !important;
  display: flex;
  align-items: center;
}
.section_hero-wrapper--content {
  position: absolute;
  bottom: 50%;
  right: 12%;
  width: 506px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media screen and (max-width: 1440px) {
  .section_hero-wrapper--content {
    right: 0%;
  }
}
@media screen and (max-width: 1024px) {
  .section_hero-wrapper--content {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .section_hero-wrapper--content {
    align-items: flex-end;
  }
}
.section_hero-wrapper--content_headline {
  width: 30%;
}
.section_hero-wrapper--content_headline .title {
  font-size: 90px;
  color: #fff;
  line-height: 90%;
}
@media screen and (max-width: 1440px) {
  .section_hero-wrapper--content_headline .title {
    font-size: 70px;
  }
}
@media screen and (max-width: 1440px) {
  .section_hero-wrapper--content_headline .title {
    font-size: 60px;
  }
}
@media screen and (max-width: 768px) {
  .section_hero-wrapper--content_headline .title {
    font-size: 50px;
  }
}
@media screen and (max-width: 480px) {
  .section_hero-wrapper--content_headline .title {
    font-size: 30px;
  }
}
.section_hero-wrapper--content_headline .title span {
  color: #D3FA6D;
}
.section_hero-wrapper--content_btn {
  display: flex;
  width: 174px;
  height: 40px;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: 1.075px solid #D3FA6D;
}
@media screen and (max-width: 480px) {
  .section_hero-wrapper--content_btn {
    width: 150px;
    padding: 5px 12px;
    margin-right: 20px;
  }
}
.section_hero-wrapper--content_btn p {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #D3FA6D;
  font-size: 10px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

@keyframes moveBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/*# sourceMappingURL=hero.module.css.map */
