.section_hero {
  padding-top: 80px;
}
.section_hero-wrapper {
  position: relative;
}
.section_hero-wrapper--background {
  height: 70vh;
  background: url("../images/hero.png") no-repeat center center/cover;
}
@media screen and (max-width: 1024px) {
  .section_hero-wrapper--background {
    height: 50vh;
  }
}
@media screen and (min-width: 2560px) {
  .section_hero-wrapper--background {
    height: 60vh;
  }
}
.section_hero-wrapper--background_line {
  height: 80px;
  width: 100%;
  background: #D3FA6D;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-1.5deg) translateY(40px);
}
.section_hero-wrapper--background_line.highlights {
  bottom: 2%;
}
@media screen and (max-width: 768px) {
  .section_hero-wrapper--background_line {
    height: 50px;
  }
}
.section_hero-wrapper--background_line-container {
  height: 100%;
}
.section_hero-wrapper--background_line-container .tape-hero, .section_hero-wrapper--background_line-container.tape-fonts, .section_hero-wrapper--background_line-container.tape-recipes {
  height: 100%;
}
.section_hero-wrapper--background_line-container .tape-hero .swiper-wrapper, .section_hero-wrapper--background_line-container.tape-fonts .swiper-wrapper, .section_hero-wrapper--background_line-container.tape-recipes .swiper-wrapper {
  display: flex;
  transition-timing-function: linear;
  align-items: center;
}
.section_hero-wrapper--background_line-container .tape-hero .swiper-wrapper .swiper-slide, .section_hero-wrapper--background_line-container.tape-fonts .swiper-wrapper .swiper-slide, .section_hero-wrapper--background_line-container.tape-recipes .swiper-wrapper .swiper-slide {
  width: fit-content !important;
  display: flex;
  align-items: center;
}
.section_hero-wrapper--background_line-container .tape-hero .swiper-wrapper .swiper-slide .text svg, .section_hero-wrapper--background_line-container.tape-fonts .swiper-wrapper .swiper-slide .text svg, .section_hero-wrapper--background_line-container.tape-recipes .swiper-wrapper .swiper-slide .text svg {
  transform: rotate(2deg);
}
@media screen and (max-width: 768px) {
  .section_hero-wrapper--background_line-container .tape-hero .swiper-wrapper .swiper-slide .text svg, .section_hero-wrapper--background_line-container.tape-fonts .swiper-wrapper .swiper-slide .text svg, .section_hero-wrapper--background_line-container.tape-recipes .swiper-wrapper .swiper-slide .text svg {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .section_hero-wrapper--background_line-container .tape-hero .swiper-wrapper .swiper-slide .text svg, .section_hero-wrapper--background_line-container.tape-fonts .swiper-wrapper .swiper-slide .text svg, .section_hero-wrapper--background_line-container.tape-recipes .swiper-wrapper .swiper-slide .text svg {
    width: 80%;
  }
}
.section_hero-wrapper--background_line-container .tape-hero .swiper-wrapper .swiper-slide .star svg, .section_hero-wrapper--background_line-container.tape-fonts .swiper-wrapper .swiper-slide .star svg, .section_hero-wrapper--background_line-container.tape-recipes .swiper-wrapper .swiper-slide .star svg {
  transform: rotate(2deg);
}
@media screen and (max-width: 768px) {
  .section_hero-wrapper--background_line-container .tape-hero .swiper-wrapper .swiper-slide .star svg, .section_hero-wrapper--background_line-container.tape-fonts .swiper-wrapper .swiper-slide .star svg, .section_hero-wrapper--background_line-container.tape-recipes .swiper-wrapper .swiper-slide .star svg {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .section_hero-wrapper--background_line-container .tape-hero .swiper-wrapper .swiper-slide .star svg, .section_hero-wrapper--background_line-container.tape-fonts .swiper-wrapper .swiper-slide .star svg, .section_hero-wrapper--background_line-container.tape-recipes .swiper-wrapper .swiper-slide .star svg {
    width: 80%;
  }
}
.section_hero-wrapper--content {
  position: absolute;
  top: 15%;
  bottom: 0;
  right: 10%;
  width: 506px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media screen and (max-width: 1024px) {
  .section_hero-wrapper--content {
    width: 406px;
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .section_hero-wrapper--content {
    width: 306px;
    gap: 40px;
  }
}
@media screen and (max-width: 480px) {
  .section_hero-wrapper--content {
    width: 180px;
    gap: 30px;
  }
}
.section_hero-wrapper--content_headline .title {
  font-size: 90px;
  color: #fff;
  line-height: 90%;
  text-transform: none;
}
@media screen and (max-width: 1440px) {
  .section_hero-wrapper--content_headline .title {
    font-size: 77px;
  }
}
@media screen and (max-width: 1280px) {
  .section_hero-wrapper--content_headline .title {
    font-size: 65px;
  }
}
@media screen and (max-width: 1024px) {
  .section_hero-wrapper--content_headline .title {
    font-size: 60px;
  }
}
@media screen and (max-width: 768px) {
  .section_hero-wrapper--content_headline .title {
    font-size: 45px;
  }
}
@media screen and (max-width: 480px) {
  .section_hero-wrapper--content_headline .title {
    font-size: 35px;
  }
}
.section_hero-wrapper--content_headline .title span {
  color: #D3FA6D;
}
.section_hero-wrapper--content_btn {
  display: flex;
  width: 174px;
  height: 40px;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: 1.075px solid #D3FA6D;
}
@media screen and (max-width: 768px) {
  .section_hero-wrapper--content_btn {
    width: 150px;
    height: 35px;
    padding: 5px 15px;
  }
}
@media screen and (max-width: 480px) {
  .section_hero-wrapper--content_btn {
    width: 140px;
    padding: 3px 10px;
  }
}
.section_hero-wrapper--content_btn p {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #D3FA6D;
  font-size: 10px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .section_hero-wrapper--content_btn p {
    font-size: 8px;
  }
}

@keyframes moveBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/*# sourceMappingURL=hero.module.css.map */
