.section_overview {
  padding-top: 98px;
  position: relative;
  overflow: hidden;
}
.section_overview-wrapper {
  position: relative;
}
.section_overview-wrapper--circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 680px;
  height: 680px;
  flex-shrink: 0;
  border-radius: 680px;
  opacity: 0.4;
  background: #45BCCC;
  filter: blur(300px);
}
.section_overview-wrapper--content_top {
  position: relative;
}
.section_overview-wrapper--content_top-image {
  position: absolute;
  top: 45%;
  right: 0;
}
@media screen and (max-width: 1440px) {
  .section_overview-wrapper--content_top-image {
    display: flex;
    justify-content: flex-end;
    top: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content_top-image {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  .section_overview-wrapper--content_top-image img {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_top-image {
    display: none;
  }
}
.section_overview-wrapper--content_top-items--item .text-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #2E3140;
  width: 83%;
}
.section_overview-wrapper--content_top-items--item .text-card.third {
  width: 32%;
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content_top-items--item .text-card.third {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content_top-items--item .text-card {
    width: 100%;
  }
}
.section_overview-wrapper--content_top-items--item .text-card--title {
  font-size: 36px;
  line-height: 110%;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_top-items--item .text-card--title {
    font-size: 26px;
  }
}
.section_overview-wrapper--content_top-items--item .text-card--desc {
  font-size: 20px;
  line-height: 130%;
  height: 263px;
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_top-items--item .text-card--desc {
    font-size: 15px;
    max-height: 200px;
  }
}
@media screen and (max-width: 480px) {
  .section_overview-wrapper--content_top-items--item .text-card--desc {
    font-size: 14px;
  }
}
.section_overview-wrapper--content_top-items--item .text-card--desc span {
  color: #9DB8D8;
}
.section_overview-wrapper--content_bottom-btn {
  display: flex;
  padding-top: 200px;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content_bottom-btn {
    padding-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_bottom-btn img {
    width: 70%;
  }
}
.section_overview-wrapper--content_bottom-icons {
  display: flex;
  gap: 128px;
  width: 70%;
  margin: 65px auto;
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content_bottom-icons {
    width: 90%;
    gap: 90px;
  }
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_bottom-icons {
    width: 95%;
    gap: 50px;
  }
}
.section_overview-wrapper--content_bottom-icons .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 39px;
}
.section_overview-wrapper--content_bottom-icons .icon .desc {
  font-size: 16px;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_bottom-icons .icon .desc {
    font-size: 15px;
  }
}
.section_overview-firstBlur {
  position: absolute;
  top: 15%;
  right: 0;
  width: 680px;
  height: 680px;
  border-radius: 680px;
  opacity: 0.4;
  background: #45BCCC;
  filter: blur(300px);
  z-index: 0;
}
.section_overview-secondBlur {
  position: absolute;
  top: 45%;
  left: 0%;
  width: 516px;
  height: 516px;
  border-radius: 516px;
  opacity: 0.8;
  background: #259FAD;
  filter: blur(300px);
  z-index: 0;
}
.section_overview-thirdBlur {
  position: absolute;
  top: 75%;
  left: 0%;
  width: 554px;
  height: 554px;
  border-radius: 554px;
  opacity: 0.8;
  background: #259FAD;
  filter: blur(300px);
  z-index: 0;
}

/*# sourceMappingURL=overview.module.css.map */
