.section_about {
    padding-top: 96px;

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--content {
            padding-top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 137px;

            &_text {
                display: flex;
                flex-direction: column;
                gap: 70px;
                font-size: 36px;
                line-height: 110%;
                text-transform: uppercase;

                .desc {
                    width: 68%;

                    span {
                        color: #9DB8D8;
                    }
                }
            }

            &_statics {
                display: flex;
                gap: 115px;

                &-left {
                    width: 40%;

                    .text {
                        font-size: 20px;
                    }
                }

                &-right {
                    display: flex;
                    gap: 132px;

                    .right,
                    .left {
                        .title {
                            font-size: 64px;
                            color: #9DB8D8;
                            line-height: 50px;
                            margin-bottom: 8px;
                        }

                        .subtitle {
                            color: #2E3140;
                            font-size: 16px;
                            line-height: 150%;
                            width: 58%;
                        }
                    }
                }
            }
        }
    }
}