@keyframes bounceIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    50% {
        transform: translateY(-30px);
        opacity: 1;
    }

    70% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

.section_about {
    padding-top: 125px;
    position: relative;

    @media screen and (max-width: 1028px) {
        padding-top: 70px;
    }

    @media screen and (max-width: 480px) {
        padding-top: 50px;
    }

    &-wrapper {
        display: flex;

        .section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        svg {
            @media screen and (max-width: 480px) {
                width: 200px;
                height: 50px;
            }
        }

        &--content {
            padding-top: 70px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 137px;

            @media screen and (max-width:1024px) {
                gap: 80px;
            }

            @media screen and (max-width: 768px) {
                gap: 70px;
            }

            @media screen and (max-width: 480px) {
                padding-top: 40px;
                gap: 50px;
            }

            &_text {
                font-size: 36px;
                line-height: 110%;
                text-transform: uppercase;
                width: 60%;

                @media screen and (max-width: 1280px) {
                    font-size: 30px;
                }

                @media screen and (max-width:1024px) {
                    width: 75%;
                }

                @media screen and (max-width:768px) {
                    width: 90%;
                }

                @media screen and (max-width: 768px) {
                    font-size: 24px;
                }

                @media screen and (max-width: 480px) {
                    font-size: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: 100%;
                }

                &-desc {
                    width: 68%;
                    margin-top: 70px;

                    @media screen and (max-width: 480px) {
                        margin-top: 30px;
                        width: 98%;
                        margin: 0 auto;
                    }

                    span {
                        color: #9DB8D8;
                    }
                }
            }

            &_statics {
                display: flex;
                gap: 115px;

                @media screen and (max-width:1024px) {
                    gap: 50px;
                }

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    gap: 80px;
                }

                @media screen and (max-width: 480px) {
                    gap: 50px;
                }

                &-left {
                    width: 50%;

                    @media screen and (max-width:1024px) {
                        width: 100%;
                    }

                    @media screen and (max-width: 480px) {
                        width: 98%;
                    }

                    .text {
                        font-size: 20px;

                        @media screen and (max-width: 1280px) {
                            font-size: 18px;
                        }

                        @media screen and (max-width: 768px) {
                            font-size: 15px;
                        }

                        @media screen and (max-width: 480px) {
                            font-size: 14px;
                        }
                    }
                }

                &-right {
                    display: flex;
                    gap: 132px;

                    @media screen and (max-width:1024px) {
                        gap: 70px;
                    }

                    @media screen and (max-width: 768px) {
                        justify-content: center;
                    }

                    @media screen and (max-width: 480px) {
                        gap: 50px;
                    }

                    .right,
                    .left {
                        @media screen and (max-width:1024px) {
                            width: 100%;
                        }

                        @media screen and (max-width:768px) {
                            width: 20%;
                        }

                        @media screen and (max-width:480px) {
                            width: 100%;
                        }

                        .title {
                            font-size: 64px;
                            color: #9DB8D8;
                            line-height: 50px;
                            margin-bottom: 8px;

                            @media screen and (max-width: 1280px) {
                                font-size: 55px;
                            }

                            @media screen and (max-width: 1024px) {
                                font-size: 45px;
                            }

                            @media screen and (max-width: 768px) {
                                font-size: 45px;
                            }

                            @media screen and (max-width: 480px) {
                                font-size: 40px;
                            }
                        }

                        .subtitle {
                            color: #2E3140;
                            font-size: 16px;
                            line-height: 150%;

                            @media screen and (max-width: 1280px) {
                                font-size: 15px;
                            }

                            @media screen and (max-width: 768px) {
                                font-size: 14px;
                            }

                            @media screen and (max-width: 480px) {
                                font-size: 13px;
                            }
                        }
                    }

                    .right {
                        width: 29%;

                        @media screen and (max-width:1024px) {
                            width: 100%;
                        }

                        @media screen and (max-width:768px) {
                            width: 20%;
                        }

                        @media screen and (max-width:480px) {
                            width: 100%;
                        }

                        .subtitle {
                            width: 80%;

                            @media screen and (max-width:1024px) {
                                width: 100%;
                            }
                        }
                    }

                    .left {
                        .subtitle {
                            width: 52%;

                            @media screen and (max-width:1024px) {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            &_tape {
                background: #2E3140;
                width: 100%;
                height: 280px;
                display: flex;
                justify-content: center;
                margin-top: 105px;
                z-index: 2;

                &.second {
                    background: #D3FA6D;
                }

                &.third {
                    background: #D3FA6D;
                    margin-top: 0px;
                }

                @media screen and (max-width: 1024px) {
                    height: 220px;
                }

                @media screen and (max-width: 768px) {
                    height: 150px;
                }

                @media screen and (max-width: 480px) {
                    height: 90px;
                    margin-top: 50px;
                }

                &-content {
                    position: relative;

                    &.fourth {
                        flex-direction: row-reverse;
                    }

                    &--text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 80%;
                        align-items: flex-end;
                        padding-top: 53px;

                        @media screen and (max-width:480px) {
                            padding-top: 10px;
                        }

                        &.second {
                            align-items: flex-start;

                            .title {
                                color: #2E3140;
                                font-size: 48px;

                                @media screen and (max-width: 1024px) {
                                    font-size: 32px;
                                }

                                @media screen and (max-width: 768px) {
                                    font-size: 20px;
                                }

                                @media screen and (max-width:480px) {
                                    font-size: 16px;
                                }
                            }
                        }

                        .title {
                            color: #fff;
                            font-size: 40px;

                            @media screen and (max-width: 1280px) {
                                font-size: 35px;
                            }

                            @media screen and (max-width: 1024px) {
                                font-size: 30px;
                            }

                            @media screen and (max-width: 768px) {
                                font-size: 24px;
                            }

                            @media screen and (max-width: 480px) {
                                font-size: 16px;
                                width: 100%;
                            }
                        }

                        .btn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 30px;
                            margin-top: 50px;
                            padding: 20px;
                            background: var(--Blue, #9DB8D8);
                            transform: rotate(-2.583deg) translateY(15px);

                            &.fourth {
                                bottom: 90%;

                                p {
                                    text-transform: capitalize;
                                }
                            }

                            @media screen and (max-width: 1280px) {
                                padding: 15px;
                            }

                            @media screen and (max-width: 768px) {
                                padding: 5px;
                            }

                            @media screen and (max-width:480px) {
                                height: 30%;
                            }

                            p {
                                color: #F4F4F4;
                                font-size: 48px;
                                line-height: 41.115px;
                                text-transform: uppercase;

                                @media screen and (max-width: 1280px) {
                                    font-size: 38px;
                                }

                                @media screen and (max-width: 1024px) {
                                    font-size: 33px;
                                }

                                @media screen and (max-width: 768px) {
                                    font-size: 27px;
                                }

                                @media screen and (max-width: 480px) {
                                    font-size: 18px;
                                }
                            }
                        }
                    }

                    &--image {
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        &.second {
                            display: flex;
                            justify-content: flex-end;
                            width: 928.2014px;
                            height: 443.168px;
                            transform: rotate(17.731deg);
                            left: 20%;
                            bottom: -15%;

                            @media screen and (max-width:1024px) {
                                left: 0%;
                                bottom: -40%;
                            }

                            @media screen and (max-width:768px) {
                                bottom: -90%;
                                width: 90%;
                            }

                            @media screen and (max-width:480px) {
                                height: 280px;
                            }
                        }

                        &.third {
                            bottom: -30%;

                            @media screen and (max-width:768px) {
                                bottom: -10%;
                            }
                        }

                        &.fourth {
                            bottom: -45%;

                            @media screen and (max-width:768px) {
                                bottom: -60%;
                            }
                        }

                        &.third {
                            left: 20%;
                            transform: rotate(-12.326deg);
                            width: 583.004px;
                            height: auto;
                            display: flex;
                            align-items: flex-end;

                            @media screen and (max-width:480px) {
                                bottom: 0;
                                left: 25%;
                            }
                        }

                        &.fourth {
                            width: 507.256px;
                            height: auto;
                            left: 50%;
                            transform: rotate(9.906deg);

                            @media screen and (max-width:768px) {
                                right: 0%;
                            }

                            @media screen and (max-width:480px) {
                                bottom: -80%;
                            }
                        }


                        &_wrapper {
                            position: relative;
                            width: 518.001px;
                            height: 573.643px;
                            overflow: hidden;

                            &.second {
                                width: 50%;
                                height: 80%;
                                overflow: visible;
                                display: flex;
                                align-items: center;

                                @media screen and (max-width:1024px) {
                                    width: 40%;
                                    height: 70%;
                                }
                            }

                            &.third,
                            &.fourth {
                                width: 70%;
                                height: auto;
                                overflow: visible;

                                @media screen and (max-width:768px) {
                                    width: 40%;
                                }

                                @media screen and (max-width:480px) {
                                    width: 20%;
                                }
                            }

                            &-img {
                                position: absolute;
                                bottom: -20%;
                                // transform: rotate(-148.079deg);
                            }

                            &.first {
                                width: 518.001px;
                                height: 573.643px;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                opacity: 0;
                                transition: opacity 0.3s ease;

                                @media screen and (max-width: 1024px) {
                                    height: auto;
                                }

                                &.animate {
                                    animation: bounceIn 2s ease forwards;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }

        &--nav {
            z-index: 1000;
            margin-right: 80px;
            display: flex;
            align-items: center;
            position: absolute;
            right: 0;
            top: 12%;

            @media screen and (max-width:1024px) {
                margin-right: 10px;
            }

            @media screen and (max-width:480px) {
                display: none;
            }

            &_content {
                .line {
                    width: 1px;
                    height: 8px;
                    background: #333;
                    display: inline-block;
                }

                .nav-content {
                    display: flex;
                    width: 32px;
                    height: 32px;
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: #FFF;
                    position: relative;
                    cursor: pointer;

                    @media screen and (max-width:1024px) {
                        width: 22px;
                        height: 22px;
                    }

                    @media screen and (max-width:768px) {
                        width: 20px;
                        height: 20px;
                    }

                    &--text {
                        position: absolute;
                        display: flex;
                        justify-content: flex-end;
                        left: -110px;
                        top: 50%;
                        transform: translateY(-50%);
                        opacity: 0;
                        transition: opacity 0.3s, left 0.4s;
                        color: #333;
                        text-align: end;

                        @media screen and (max-width:1024px) {
                            font-size: 14px;
                            left: -80px;
                        }
                    }

                    &:hover,
                    &.active {
                        .nav-content {
                            background-color: orange;

                            &--text {
                                opacity: 1;
                                color: orange;
                                left: -110px;
                                width: 100px;
                            }
                        }
                    }
                }

                &-stage {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    align-items: center;

                    @media screen and (max-width:768px) {
                        gap: 5px;
                    }

                    p {
                        svg {
                            @media screen and (max-width:768px) {
                                width: 7px;
                                height: 8px;
                            }
                        }
                    }
                }
            }

            &.fixed {
                position: fixed !important;
                top: 0;
                right: 0;
                z-index: 1000;
            }
        }
    }
}