@keyframes bounceIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    50% {
        transform: translateY(-30px);
        opacity: 1;
    }

    70% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

.section_about {
    padding-top: 125px;
    // position: relative;

    &-wrapper {

        //ABOUT CONTENT
        &--title {
            text-align: center;
        }

        svg {
            @media screen and (max-width: 480px) {
                width: 200px;
                height: 50px;
            }
        }

        &--content {
            padding-top: 70px;
            display: flex;
            flex-direction: column;
            gap: 137px;

            @media screen and (max-width:1024px) {
                gap: 80px;
            }

            @media screen and (max-width: 768px) {
                gap: 70px;
            }

            @media screen and (max-width: 480px) {
                padding-top: 40px;
                gap: 50px;
            }

            &_text {
                font-size: 36px;
                line-height: 110%;
                text-transform: uppercase;

                @media screen and (max-width: 1280px) {
                    font-size: 30px;
                }

                @media screen and (max-width:1024px) {
                    font-size: 27px;
                }

                @media screen and (max-width: 768px) {
                    font-size: 20px;
                }

                @media screen and (max-width: 480px) {
                    font-size: 16px;
                }

                &-desc {
                    margin-top: 70px;

                    @media screen and (max-width: 480px) {
                        margin-top: 30px;
                        width: 98%;
                    }

                    span {
                        color: #9DB8D8;
                    }
                }
            }

            &_statics {
                display: flex;
                gap: 115px;

                @media screen and (max-width:1024px) {
                    gap: 50px;
                }

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    gap: 80px;
                }

                @media screen and (max-width: 480px) {
                    gap: 50px;
                }

                &-left {
                    width: 90%;

                    @media screen and (max-width:1024px) {
                        width: 100%;
                    }

                    @media screen and (max-width: 480px) {
                        width: 98%;
                    }

                    .text {
                        font-size: 20px;

                        @media screen and (max-width: 1280px) {
                            font-size: 18px;
                        }

                        @media screen and (max-width: 768px) {
                            font-size: 15px;
                        }

                        @media screen and (max-width: 480px) {
                            font-size: 14px;
                        }
                    }
                }

                &-right {
                    display: flex;
                    gap: 132px;

                    @media screen and (max-width:1024px) {
                        gap: 70px;
                    }

                    @media screen and (max-width: 768px) {
                        justify-content: center;
                    }

                    @media screen and (max-width: 480px) {
                        gap: 50px;
                    }

                    .right,
                    .left {
                        @media screen and (max-width:1024px) {
                            width: 100%;
                        }

                        @media screen and (max-width:768px) {
                            width: 20%;
                        }

                        @media screen and (max-width:480px) {
                            width: 100%;
                        }

                        .title {
                            font-size: 64px;
                            color: #9DB8D8;
                            line-height: 50px;
                            margin-bottom: 8px;

                            @media screen and (max-width: 1280px) {
                                font-size: 55px;
                            }

                            @media screen and (max-width: 1024px) {
                                font-size: 45px;
                            }

                            @media screen and (max-width: 768px) {
                                font-size: 45px;
                            }

                            @media screen and (max-width: 480px) {
                                font-size: 40px;
                            }
                        }

                        .subtitle {
                            color: #2E3140;
                            font-size: 16px;
                            line-height: 150%;

                            @media screen and (max-width: 1280px) {
                                font-size: 15px;
                            }

                            @media screen and (max-width: 768px) {
                                font-size: 14px;
                            }

                            @media screen and (max-width: 480px) {
                                font-size: 13px;
                            }
                        }
                    }

                    .right {
                        width: 32%;

                        @media screen and (max-width:1024px) {
                            width: 100%;
                        }

                        @media screen and (max-width:768px) {
                            width: 20%;
                        }

                        @media screen and (max-width:480px) {
                            width: 100%;
                        }

                        .subtitle {
                            width: 100%;
                        }
                    }

                    .left {
                        .subtitle {
                            width: 65%;

                            @media screen and (max-width:1024px) {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            //ALL TAPES
            &_tape {
                background: #2E3140;
                height: 280px;
                display: flex;
                margin-top: 105px;

                &.second {
                    background: #D3FA6D;
                }

                &.third {
                    background: #D3FA6D;
                    margin-top: 0px;

                    @media screen and (max-width:480px) {
                        height: 70px;
                    }
                }

                @media screen and (max-width: 1024px) {
                    height: 220px;
                }

                @media screen and (max-width: 768px) {
                    height: 150px;
                }

                @media screen and (max-width: 480px) {
                    height: 100px;
                    margin-top: 50px;
                }

                &-content {
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;

                    &--text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        height: 100%;
                        width: 50%;

                        @media screen and (max-width:768px) {
                            padding-left: 0px;
                            align-items: flex-end;
                        }

                        @media screen and (max-width:480px) {
                            align-items: flex-end;
                        }

                        .title {
                            @media screen and (max-width:480px) {
                                display: flex;
                                justify-content: flex-end;
                            }
                        }

                        @media screen and (max-width:1024px) {
                            padding-top: 20px;
                        }

                        @media screen and (max-width:480px) {
                            padding-top: 10px;
                        }

                        &.fifth {
                            align-items: flex-start;
                            flex-direction: column-reverse;
                        }

                        &.second {
                            align-items: flex-start;
                            width: 100%;

                            .title {
                                width: 36%;
                            }

                            .title {
                                color: #2E3140;
                                font-size: 48px;

                                @media screen and (max-width: 1024px) {
                                    font-size: 32px;
                                }

                                @media screen and (max-width: 768px) {
                                    font-size: 20px;
                                }

                                @media screen and (max-width:480px) {
                                    font-size: 16px;
                                }
                            }
                        }

                        .title {
                            color: #fff;
                            font-size: 40px;

                            @media screen and (max-width: 1280px) {
                                font-size: 35px;
                            }

                            @media screen and (max-width: 1024px) {
                                font-size: 30px;
                            }

                            @media screen and (max-width: 768px) {
                                font-size: 24px;
                            }

                            @media screen and (max-width: 480px) {
                                font-size: 16px;
                            }
                        }

                        .btn {
                            margin-right: 30px;
                            margin-top: 50px;
                            padding: 20px;
                            background: var(--Blue, #9DB8D8);
                            transform: rotate(-2.583deg) translateY(15px);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            @media screen and (max-width:768px) {
                                margin-top: 0px;
                            }

                            @media screen and (max-width:480px) {
                                margin-right: 20px;
                            }

                            &.fifth {
                                margin-right: 0px;
                                margin-top: -70px;
                                margin-bottom: 50px;
                                width: 298.928px;
                                height: 78.153px;

                                @media screen and (max-width:768px) {
                                    width: 250px;
                                    height: 55px;
                                    margin-bottom: 30px;
                                }

                                @media screen and (max-width:480px) {
                                    width: 150px;
                                    height: 35px;
                                    margin-bottom: 30px;
                                    margin-top: -50px;
                                }
                            }

                            @media screen and (max-width: 1280px) {
                                padding: 15px;
                            }

                            @media screen and (max-width: 768px) {
                                padding: 5px;
                            }

                            @media screen and (max-width:480px) {
                                height: 30%;
                            }

                            p {
                                color: #F4F4F4;
                                font-size: 48px;
                                line-height: 41.115px;
                                text-transform: uppercase;

                                @media screen and (max-width: 1280px) {
                                    font-size: 38px;
                                }

                                @media screen and (max-width: 1024px) {
                                    font-size: 33px;
                                }

                                @media screen and (max-width: 768px) {
                                    font-size: 27px;
                                }

                                @media screen and (max-width: 480px) {
                                    font-size: 18px;
                                }
                            }
                        }

                        &.fifth {
                            align-items: flex-start;
                            width: 100%;
                        }
                    }

                    &--image {
                        position: absolute;
                        bottom: 0px;
                        left: 0;

                        &.second {
                            display: flex;
                            justify-content: flex-end;
                            width: 928.2014px;
                            height: 443.168px;
                            transform: rotate(17.731deg);
                            left: 200px;
                            bottom: 40px;
                            align-items: center;
                            align-items: flex-end;

                            @media screen and (max-width:1024px) {
                                left: 0%;
                                bottom: 55px;
                            }

                            @media screen and (max-width:768px) {
                                width: 600px;
                                left: 100px;
                                bottom: 35px;
                            }

                            @media screen and (max-width:480px) {
                                height: 200px;
                                left: 50px;
                                width: 350px;
                            }
                        }

                        &.third {
                            left: 300px;
                            bottom: -50px;
                            transform: rotate(-12.326deg);
                            width: 583.004px;
                            height: auto;
                            display: flex;
                            z-index: 1000;

                            @media screen and (max-width:1024px) {
                                width: 450px;
                                left: 150px;
                            }

                            @media screen and (max-width:768px) {
                                left: 150px;
                                width: 300px;
                                bottom: -30px;
                            }

                            @media screen and (max-width:480px) {
                                width: 120px;
                                bottom: -20px;
                            }
                        }

                        &.fourth {
                            width: 507.256px;
                            height: auto;
                            left: 50%;
                            bottom: -120px;
                            transform: rotate(9.906deg);
                            z-index: 1000;

                            @media screen and (max-width:1024px) {
                                width: 450px;
                            }

                            @media screen and (max-width:768px) {
                                width: 300px;
                                bottom: -70px;
                            }

                            @media screen and (max-width:480px) {
                                width: 130px;
                                bottom: -30px;
                            }
                        }

                        &.fifth {
                            display: flex;
                            justify-content: flex-end;
                            width: 100%;
                            bottom: 20px;

                            @media screen and (max-width:768px) {
                                bottom: 0px;
                            }
                        }

                        &_wrapper {
                            position: relative;
                            width: 518px;
                            height: 543.643px;
                            overflow: hidden;

                            @media screen and (max-width:1440px) {
                                width: 450px;
                                height: 510px;
                            }

                            @media screen and (max-width:1024px) {
                                width: 400px;
                                height: 430px;
                            }

                            @media screen and (max-width:768px) {
                                height: 350px;
                                width: 300px;
                            }

                            @media screen and (max-width:480px) {
                                width: 180px;
                                height: 150px;
                            }

                            &-img {
                                position: absolute;
                                left: 0;
                                height: 100%;
                                top: 140px;

                                @media screen and (max-width:480px) {
                                    top: 0px;
                                }

                                &.fifth {
                                    width: 80%;
                                    height: 90%;
                                    top: 20px;

                                    @media screen and (max-width:1024px) {
                                        top: 0px;
                                        width: 70%;
                                    }

                                    @media screen and (max-width:768px) {
                                        right: 100px;
                                        top: 20px;
                                    }

                                    @media screen and (max-width:480px) {
                                        right: 40px;
                                        top: 50px;
                                    }
                                }
                            }

                            &.second {
                                width: 50%;
                                display: flex;
                                align-items: center;

                                @media screen and (max-width:1440px) {
                                    width: 48%;
                                }

                                @media screen and (max-width:1024px) {
                                    width: 40%;
                                    height: 70%;
                                }
                            }

                            &.third {
                                width: 70%;
                            }

                            &.fourth {
                                width: 65%;
                            }

                            &.second,
                            &.third,
                            &.fourth {
                                height: auto;
                                overflow: visible;
                            }

                            &.fifth {
                                width: 435.415px;
                                height: 344.278px;
                                display: flex;
                                align-items: flex-end;

                                @media screen and (max-width:1024px) {
                                    width: 335px;
                                    height: 264px;
                                }

                                @media screen and (max-width:768px) {
                                    width: 300px;
                                    height: 220px;
                                }

                                @media screen and (max-width:480px) {
                                    width: 200px;
                                    height: 200px;
                                }
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                opacity: 0;
                                transition: opacity 0.3s ease;

                                @media screen and (max-width: 1024px) {
                                    height: auto;
                                }

                                &.animate {
                                    animation: bounceIn 2s ease forwards;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }

        //MINI NAV
        .miniNav {
            position: absolute;
            top: 8%;
            right: 80px;
            height: 100%;

            &--nav {
                position: sticky;
                top: 0;

                @media screen and (max-width: 1024px) {
                    margin-right: 10px;
                }

                @media screen and (max-width: 480px) {
                    display: none;
                }

                &_content {
                    .line {
                        width: 1px;
                        height: 8px;
                        background: #333;
                    }

                    .nav-content {
                        display: flex;
                        width: 32px;
                        height: 32px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        background: #FFF;
                        position: relative;
                        cursor: pointer;
                        transition: background-color 0.5s ease-in-out;

                        @media screen and (max-width: 1024px) {
                            width: 22px;
                            height: 22px;
                        }

                        @media screen and (max-width: 768px) {
                            width: 20px;
                            height: 20px;
                        }

                        &--text {
                            position: absolute;
                            top: 50%;
                            right: calc(100% + 10px);
                            transform: translateY(-50%);
                            opacity: 0;
                            white-space: nowrap;
                            transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out;

                            @media screen and (max-width: 1024px) {
                                font-size: 14px;
                            }
                        }

                        &:hover,
                        &.active {
                            background-color: #FFCE34;

                            .nav-content--text {
                                opacity: 1;
                                color: #FFCE34;
                            }
                        }
                    }

                    &-stage {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        align-items: center;

                        @media screen and (max-width: 768px) {
                            gap: 5px;
                        }

                        p {
                            svg {
                                @media screen and (max-width: 768px) {
                                    width: 7px;
                                    height: 8px;
                                }
                            }
                        }
                    }
                }

                &.fixed {
                    position: fixed !important;
                    top: 0;
                    right: 0;
                    z-index: 1000;
                }
            }
        }

    }
}