.section_design {
    padding-top: 132px;

    &-wrapper {
        &--content {
            &_top {
                max-width: calc(1440px - 2%);
                margin: 0 auto;

                &-items {
                    display: flex;
                    flex-direction: column;
                    gap: 91px;

                    &--item {
                        display: flex;

                        .text-card {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            gap: 20px;
                            color: #2E3140;

                            &--title {
                                font-size: 36px;
                                line-height: 110%;
                                text-transform: uppercase;

                                &.second {
                                    height: 117px;
                                }

                                @media screen and (max-width:768px) {
                                    font-size: 26px;
                                }
                            }

                            &--desc {
                                font-size: 20px;
                                line-height: 130%;
                                width: 60%;

                                @media screen and (max-width:768px) {
                                    font-size: 15px;
                                    max-height: 200px;
                                }

                                @media screen and (max-width:480px) {
                                    font-size: 14px;
                                }


                                span {
                                    color: #9DB8D8;
                                }
                            }

                            &--labels {
                                display: flex;
                                justify-content: center;
                            }
                        }
                    }
                }
            }

            &_swipers {
                &-top {
                    display: flex;
                    width:77%;
                    margin-left: auto;

                    .text {
                        display: flex;
                        align-items: flex-end;
                        width: 38%;
                        margin-right: 40px;

                        .desc {
                            font-size: 20px;
                            line-height: 130%;
                        }
                    }
                }

                .card {
                    display: flex;
                    flex-direction: column;
                    height: 350px;
                    justify-content: flex-end;

                    &-image {
                        position: absolute;
                        bottom: 60%;
                        right: 0;

                        &--content {
                            height: 250px;
                            position: relative;

                            img {
                                width: 100%;
                            }
                        }

                        &--elipse {
                            position: absolute;
                            bottom: 0%;
                            right: 28%;
                        }
                    }

                    &-text {
                        &--title {
                            font-size: 24px;
                            width: 30%;
                            text-transform: uppercase;
                        }

                        &--content {
                            display: flex;
                            position: relative;
                            align-items: flex-start;
                            flex-direction: column;
                            justify-content: flex-end;
                            gap: 36px;
                            padding: 0px 0px 24px 20px;

                            &_title {
                                width: 30%;
                            }

                            &_all {
                                display: flex;
                                width: 100%;
                                align-items: flex-end;

                                &-left{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                &-bottom {
                    width: 62%;
                    margin-right: auto;
                }
            }
        }
    }
}