.section_desktop {
    padding-top: 270px;
    position: relative;
    overflow: hidden;

    @media screen and (max-width:1024px) {
        padding-top: 120px;
    }

    @media screen and (max-width:768px) {
        padding-top: 80px;
    }

    @media screen and (max-width:480px) {
        padding-top: 50px;
    }

    &-wrapper {
        position: relative;
        z-index: 2;

        &--content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 120vh;

            @media screen and (min-width:2560px) {
                height: 105vh;
            }

            @media screen and (max-width:1440px) {
                height: 110vh;
            }

            @media screen and (max-width:1024px) {
                height: 105vh;
            }

            @media screen and (max-width:480px) {
                height: 120vh;
            }

            &_top {
                display: flex;
                justify-content: flex-end;

                &-title {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    width: 455px;
                }
            }

            &_bottom {
                width: 455px;

                @media screen and (max-width:1024px) {
                    width: 400px;
                }

                @media screen and (max-width:768px) {
                    width: 300px;
                }

                @media screen and (max-width:1024px) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }
            }
        }

        &--firstPhoto {
            position: absolute;
            top: -5%;
            left: -10%;
            width: 55%;

            @media screen and (min-width:2560px) {
                left: 5%;
                width: 45%;
            }

            @media screen and (max-width:1024px) {
                top: 15%;
                width: 65%;
            }

            @media screen and (max-width:480px) {
                left: 0;
                right: 0;
                top: 23%;
                width: 90%;
            }

            img {
                width: 100%;
            }
        }

        &--secondPhoto {
            position: absolute;
            bottom: 0%;
            right: -15%;
            width: 60%;

            @media screen and (min-width:2560px) {
                right: 0;
                width: 50%;
            }

            @media screen and (max-width:1024px) {
                width: 70%;
                right: 0;
            }

            @media screen and (max-width:480px) {
                width: 100%;
            }

            img {
                width: 100%;
            }
        }
    }

    &-firstBlur {
        top: 15%;
        right: 25%;
        width: 464px;
        height: 464px;
        opacity: 0.8;
        background: #E48049;

        @media screen and (max-width:1024px) {
            width: 682px;
            height: 512px;
        }

        @media screen and (max-width:768px) {
            width: 582px;
            height: 412px;
        }

        @media screen and (max-width:480px) {
            width: 482px;
            height: 312px;
        }
    }

    &-secondBlur {
        top: 50%;
        right: 0%;
        width: 973.708px;
        height: 916.063px;
        opacity: 0.5;
        background: #3A3ADF;

        @media screen and (max-width:1024px) {
            width: 682px;
            height: 512px;
        }

        @media screen and (max-width:768px) {
            width: 482px;
            height: 312px;
        }

        @media screen and (max-width:480px) {
            width: 382px;
            height: 212px;
        }
    }
}