.section_hero {
    height: 85vh;
    position: relative;

    &-wrapper {
        position: relative;
        height: 100%;

        &--background {
            height: 80vh;
            display: block;
            margin: 0 auto;
            background: url('../images/hero.png') no-repeat center center / cover;
            position: relative;

            &_line {
                height: 80px;
                width: 100%;
                background: #D3FA6D;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: rotate(-2deg) translateY(40px);

                @media screen and (max-width:480px) {
                    height: 50px;
                }

                &-container {
                    width: 100%;
                    height: 100%;
                    background-color: #D3FA6D;

                    .tape-hero {
                        height: 100%;
                    }
                }

                .swiper-wrapper {
                    display: flex;
                    transition-timing-function: linear;
                    align-items: center;


                    .swiper-slide {
                        width: fit-content !important;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        &--content {
            position: absolute;
            bottom: 50%;
            right: 12%;
            width: 506px;
            display: flex;
            flex-direction: column;
            gap: 70px;

            @media screen and (max-width:1440px) {
                right: 0%;
            }

            @media screen and (max-width:1024px) {
                display: flex;
                align-items: center;
            }

            @media screen and (max-width:480px) {
                align-items: flex-end;
            }

            &_headline {
                width: 30%;

                .title {
                    font-size: 90px;
                    color: #fff;
                    line-height: 90%;

                    @media screen and (max-width:1440px) {
                        font-size: 70px;
                    }

                    @media screen and (max-width:1440px) {
                        font-size: 60px;
                    }

                    @media screen and (max-width:768px) {
                        font-size: 50px;
                    }

                    @media screen and (max-width:480px) {
                        font-size: 30px;
                    }

                    span {
                        color: #D3FA6D;
                    }
                }
            }

            &_btn {
                display: flex;
                width: 174px;
                height: 40px;
                padding: 10px 25px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                cursor: pointer;
                border: 1.075px solid #D3FA6D;

                @media screen and (max-width:480px) {
                    width: 150px;
                    padding: 5px 12px;
                    margin-right: 20px;
                }

                p {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: #D3FA6D;
                    font-size: 10px;
                    font-weight: 800;
                    line-height: normal;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@keyframes moveBg {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}