.section_overview {
    padding-top: 98px;
    position: relative;
    overflow: hidden;
    z-index: 2;

    @media screen and (max-width: 1028px) {
        padding-top: 70px;
    }

    @media screen and (max-width: 480px) {
        padding-top: 50px;
    }

    &-wrapper {
        position: relative;

        &--circle {
            position: absolute;
            top: 0;
            right: 0;
            width: 680px;
            height: 680px;
            border-radius: 50%;
            opacity: 0.4;
            background: #45BCCC;
            filter: blur(300px);
        }

        &--content {
            &_top {
                position: relative;

                &-image {
                    position: absolute;
                    top: 45%;
                    right: 0;

                    @media screen and (max-width: 1440px) {
                        display: flex;
                        justify-content: flex-end;
                        top: 55%;
                        width: 80%;
                    }

                    img {
                        @media screen and (max-width:1440px) {
                            width: 90%;
                        }

                        @media screen and (max-width:768px) {
                            display: none;
                        }

                        z-index: 2;
                    }
                }

                &-items {
                    display: flex;
                    flex-direction: column;

                    @media screen and (max-width:768px) {
                        gap: 70px;
                    }

                    @media screen and (max-width:480px) {
                        gap: 50px;
                    }

                    &--item {
                        .text-card {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            color: #2E3140;
                            width: 89%;

                            @media screen and (max-width: 1024px) {
                                width: 100%;
                            }

                            .text {
                                height: 264px;

                                .desc {
                                    span {
                                        color: #9DB8D8;
                                    }
                                }

                                @media screen and (max-width:768px) {
                                    height: unset;
                                }
                            }

                            &.third {
                                width: 35%;

                                @media screen and (max-width:768px) {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            &_bottom {
                &-btn {
                    display: flex;
                    padding-top: 200px;
                    justify-content: center;

                    @media screen and (max-width: 1024px) {
                        padding-top: 100px;
                    }

                    @media screen and (max-width: 768px) {
                        padding-top: 80px;
                    }

                    @media screen and (max-width: 480px) {
                        padding-top: 50px;
                    }

                    img {
                        @media screen and (max-width: 768px) {
                            width: 70%;
                        }
                    }
                }

                &-icons {
                    display: flex;
                    gap: 128px;
                    width: 75%;
                    margin: 65px auto;
                    justify-content: center;

                    @media screen and (max-width: 1024px) {
                        width: 90%;
                        gap: 90px;
                    }

                    @media screen and (max-width: 768px) {
                        width: 95%;
                        gap: 20px;
                    }

                    @media screen and (max-width: 480px) {
                        flex-direction: column;
                        width: 70%;
                        align-items: center;
                    }

                    .icon {
                        width: 226px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 39px;
                        text-align: center;

                        @media screen and (max-width: 768px) {
                            gap: 30px;
                        }

                        @media screen and (max-width: 480px) {
                            gap: 25px;
                        }

                        .icon-svg {
                            display: flex;
                            justify-content: center;
                            width: 100%;
                        }

                        .icon-text {
                            display: flex;
                            justify-content: center;
                            width: 100%;

                            .desc {
                                font-size: 16px;
                                line-height: 150%;

                                @media screen and (max-width: 768px) {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    &-firstBlur {
        top: 15%;
        right: 30%;
        width: 680px;
        height: 680px;
        background: #45BCCC;
        opacity: 0.4;

        @media screen and (max-width:1024px) {
            width: 48px;
            height: 48px;
        }

        @media screen and (max-width:768px) {
            width: 380px;
            height: 380px;
        }
    }

    &-secondBlur {
        top: 45%;
        left: 0;
        width: 516px;
        height: 516px;
        background: #259FAD;
        opacity: 0.8;

        @media screen and (max-width:1024px) {
            width: 316px;
            height: 316px;
        }

        @media screen and (max-width:768px) {
            width: 216px;
            height: 216px;
        }

        @media screen and (max-width:480px) {
            width: 116px;
            height: 116px;
        }
    }

    &-thirdBlur {
        top: 75%;
        left: 0;
        width: 554px;
        height: 554px;
        background: #259FAD;
        opacity: 0.8;

        @media screen and (max-width:1024px) {
            width: 254px;
            height: 254px;
        }

        @media screen and (max-width:768px) {
            width: 154px;
            height: 154px;
        }

        @media screen and (max-width:480px) {
            width: 54px;
            height: 54px;
        }
    }
}