.section_overview {
    padding-top: 98px;
    position: relative;
    overflow: hidden;
    z-index: 2;

    @media screen and (max-width: 1028px) {
        padding-top: 70px;
    }

    @media screen and (max-width: 480px) {
        padding-top: 50px;
    }

    &-wrapper {
        position: relative;

        &--circle {
            position: absolute;
            top: 0;
            right: 0;
            width: 680px;
            height: 680px;
            border-radius: 50%;
            opacity: 0.4;
            background: #45BCCC;
            filter: blur(300px);
        }

        &--content {
            &_top {
                position: relative;

                &-image {
                    position: absolute;
                    top: 45%;
                    right: 0;
                    display: none;

                    @media screen and (max-width: 1440px) {
                        display: flex;
                        justify-content: flex-end;
                        top: 55%;
                        width: 80%;
                    }

                    img {
                        @media screen and (max-width:1440px) {
                            width: 90%;
                        }

                        @media screen and (max-width:768px) {
                            display: none;
                        }

                        z-index: 2;
                    }
                }

                &-items {
                    display: flex;
                    flex-direction: column;
                    gap: 187px;

                    &--item {
                        .text-card {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            color: #2E3140;
                            width: 83%;

                            @media screen and (max-width: 1024px) {
                                width: 100%;
                            }

                            &.third {
                                width: 32%;

                                @media screen and (max-width:1024px) {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            &_bottom {
                &-btn {
                    display: flex;
                    padding-top: 200px;
                    justify-content: center;

                    @media screen and (max-width: 1024px) {
                        padding-top: 10px;
                    }

                    img {
                        @media screen and (max-width: 768px) {
                            width: 70%;
                        }
                    }
                }

                &-icons {
                    display: flex;
                    gap: 128px;
                    width: 70%;
                    margin: 65px auto;

                    @media screen and (max-width: 1024px) {
                        width: 90%;
                        gap: 90px;
                    }

                    @media screen and (max-width: 768px) {
                        width: 95%;
                        gap: 20px;
                    }

                    .icon {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 39px;

                        .desc {
                            font-size: 16px;
                            line-height: 150%;

                            @media screen and (max-width: 768px) {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    &-firstBlur,
    &-secondBlur,
    &-thirdBlur {
        position: absolute;
        border-radius: 50%;
        filter: blur(300px);
        z-index: 0;
    }

    &-firstBlur {
        top: 15%;
        right: 0;
        width: 680px;
        height: 680px;
        background: #45BCCC;
        opacity: 0.4;
    }

    &-secondBlur {
        top: 45%;
        left: 0;
        width: 516px;
        height: 516px;
        background: #259FAD;
        opacity: 0.8;
    }

    &-thirdBlur {
        top: 75%;
        left: 0;
        width: 554px;
        height: 554px;
        background: #259FAD;
        opacity: 0.8;
    }
}