.section_sitemap {
    &-wrapper {
        display: flex;
        flex-direction: column;

        &--map {
            overflow-x: auto;
            width: 100%;
            position: relative;

            img {
                display: block;
                min-height: 28vh;

                @media screen and (max-width:480px) {
                    width: 100%;
                    object-fit: cover;
                }
            }

            &_text {
                position: absolute;
                top: 15%; 
                left: 20%; 
                z-index: 1;  
                max-width: 50%; 

                @media screen and (max-width:480px) {
                    display: none;
                }
            }
        }

    }
}